## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docuser

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## IDE
.vs/
.vscode/*
!.vscode/extensions.json
*.swp
*~

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Test results
TestResults/

## Windows Zone.Identifier metadata
*:Zone.Identifier
BenchmarkDotNet.Artifacts/*
